<b>Results for {{user}} drawn card:</b>
<p>You drew to {{cardname}} in the {{orientation}} position.</p>
<img src="{{imageurl}}" alt="{{cardname}}" />
<style>
    img {
    transform: rotate({{rotation}}deg)
}
</style>
<p>Meaning: {{meaning}}</p>
